{% extends "base.html" %}

{% load static %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">  
            <h3 style="color: #020C22; font-weight: bold;">{% trans "Sign Out" %}</h3>
            <p style="color: #333;">
                {% trans "Are you sure you want to sign out?" %}
            </p>    
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" action="{% url 'account_logout' %}" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn w-100 mt-3" type="submit" style="color: white; background-color: #020C22; transition: all 0.3s ease; text-decoration: none; padding: 10px; border-radius: 5px; border: none; font-weight: bold;" onmouseover="this.style.color='#00FF76'; this.style.textShadow='0 0 8px #00FF76, 0 0 15px #00FF76';" onmouseout="this.style.color='white'; this.style.textShadow='none';">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
