/* Custom checkbox styling */
input[type="checkbox"]:checked {
    accent-color: #00FF76; /* Custom color for the checkbox */
}

/* Optional: Additional global styles */
body {
    font-family: Arial, sans-serif;
}

/* Remove the original Bootstrap focus style */
input:focus, textarea:focus, select:focus {
    outline: none;

}

