{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <!-- Post title -->
                <h1 class="display-5 fw-bold">{{ post.title }}</h1>
                <!-- Post author and date -->
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="col-md-6 text-center d-none d-md-block">
                <img src="{% static 'images/renovatio1.jpg' %}" class="img-fluid" style="max-width: 400px; max-height: 400px;" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <!-- Post content -->
            <p class="card-text text-dark">
                {{ post.content | safe }}
            </p>
        </div>
    </div>
</div>

<!-- Displaying count of comments -->
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }} Comments
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="p-2 comments {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
