{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg-white py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <!-- Post title -->
                <h1 class="display-5 fw-bold">{{ post.title }}</h1>
                <!-- Post author and date -->
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="col-md-6 text-center d-none d-md-block">
                <img src="{% static 'images/renovatio1.jpg' %}" class="img-fluid" style="max-width: 400px; max-height: 400px;" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <!-- Post content -->
            <p class="card-text text-dark">
                {{ post.content | safe }}
            </p>
        </div>
    </div>
</div>

{% endblock content %}
